*{
    font-family: sans-serif, serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperbat.com/img/564909-gym-weights-wallpaper-woman-lifting-weights-wallpaper-girls-lifting-weights-wallpaper-and-lifting-weights-wallpaper-high-res.jpg");
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
}

#login{
    position: relative;
    top: 3vh;
	margin: auto;
    width: 450px;
    background-color: #000000;
    opacity: 0.93;
    border: 2px solid #ffb612;
    border-radius: 5px;
    padding: 17px;
}
.saludo{
    text-align: center;
    color: #ffb612;
    font-size: 42px;
    font-weight: bold;
}
.form label{
    color: #ffb612;
    font-size: 22px;    
}
.form input{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 22px;
    padding: 6px;
    background-color: transparent;
    outline: none;
    font-size: 26px;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    color-scheme: #000;
}
.form input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.btn-login{
    display: block;
    width: 100%;
    margin: 16px auto;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    outline: none;
    color: #000000;
    background-color: #ffb612;
    border-radius: 5px;
}
.login-footer{
    text-align: center;
    margin: 6px;
}
.register{
    display: block;
    color: #ffffff;
    width: 100%;
    margin: 8px 0px;
    font-size: 18px;
}